In [83]:
#Used Libraries
import pandas as pd

In [84]:
raw_data=pd.read_csv(r"C:\Users\zmitr\Desktop\Amazon-Sales-Analytics-for-Product-Profitability-Optimization\data\Amazon_Sal_Report_raw.csv")
raw_data.head(10)

C:\Users\zmitr\AppData\Local\Temp\ipykernel_6124\4047139531.py:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_data=pd.read_csv(r"C:\Users\zmitr\Desktop\sem1\ba\data analysis\archive\Amazon Sale Report.csv")

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
5,5,404-1490984-4578765,04-30-22,Shipped,Amazon,Amazon.in,Expedited,SET264,SET264-KR-NP-XL,Set,...,INR,824.00,GHAZIABAD,UTTAR PRADESH,201102.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
6,6,408-5748499-6859555,04-30-22,Shipped,Amazon,Amazon.in,Expedited,J0095,J0095-SET-L,Set,...,INR,653.00,CHANDIGARH,CHANDIGARH,160036.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
7,7,406-7807733-3785945,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3405,JNE3405-KR-S,kurta,...,INR,399.00,HYDERABAD,TELANGANA,500032.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
8,8,407-5443024-5233168,04-30-22,Cancelled,Amazon,Amazon.in,Expedited,SET200,SET200-KR-NP-A-XXXL,Set,...,NaN,NaN,HYDERABAD,TELANGANA,500008.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
9,9,402-4393761-0311520,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3461,JNE3461-KR-XXL,kurta,...,INR,363.00,Chennai,TAMIL NADU,600041.0,IN,NaN,False,NaN,NaN

In [44]:
col_name_with_error = raw_data.columns[22]
print(col_name_with_error)

fulfilled-by

In [45]:
#checking nan values
raw_data.isnull().sum()

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6872
Qty                       0
currency               7795
Amount                 7795
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
fulfilled-by          89698
Unnamed: 22           49050
dtype: int64

In [46]:
raw_data.shape

(128975, 24)

In [47]:
#Removing dolumns we don't need in our analysis
new_data=raw_data.drop(columns=["promotion-ids", "fulfilled-by", "Unnamed: 22"])

In [48]:
new_data.isnull().sum()

index                    0
Order ID                 0
Date                     0
Status                   0
Fulfilment               0
Sales Channel            0
ship-service-level       0
Style                    0
SKU                      0
Category                 0
Size                     0
ASIN                     0
Courier Status        6872
Qty                      0
currency              7795
Amount                7795
ship-city               33
ship-state              33
ship-postal-code        33
ship-country            33
B2B                      0
dtype: int64

In [50]:
#check the unique values on each column
new_data.nunique()

index                 128975
Order ID              120378
Date                      91
Status                    13
Fulfilment                 2
Sales Channel              2
ship-service-level         2
Style                   1377
SKU                     7195
Category                   9
Size                      11
ASIN                    7190
Courier Status             3
Qty                       10
currency                   1
Amount                  1410
ship-city               8955
ship-state                69
ship-postal-code        9459
ship-country               1
B2B                        2
dtype: int64

In [51]:
#check for the order ID that are duplicated if they also duplicate the ASIN
orders_multi = new_data.groupby("Order ID").filter(lambda x: len(x) > 1)
print(orders_multi[["Order ID", "ASIN", "Qty"]])

                   Order ID        ASIN  Qty
37      403-4367956-2849158  B09RKBXM5B    1
38      403-4367956-2849158  B08HHJP41L    1
61      404-2262140-4696366  B07H7FZD32    1
62      404-2262140-4696366  B08QGK2BS2    1
79      408-4069830-3819562  B09M6STTBC    1
...                     ...         ...  ...
128930  407-8519205-5064368  B09NQ4QS13    1
128941  403-3035549-4142738  B08N4QTQHW    1
128942  403-3035549-4142738  B099S8X47K    1
128952  404-8878574-4524358  B099FC9KR1    1
128953  404-8878574-4524358  B099F9P2B9    1

[15443 rows x 3 columns]

In [52]:
#check if there are duplicate rows
new_data[new_data.duplicated()]

Empty DataFrame
Columns: [index, Order ID, Date, Status, Fulfilment, Sales Channel , ship-service-level, Style, SKU, Category, Size, ASIN, Courier Status, Qty, currency, Amount, ship-city, ship-state, ship-postal-code, ship-country, B2B]
Index: []

[0 rows x 21 columns]

In [53]:
new_data["ship-country"].unique()

array(['IN', nan], dtype=object)

In [54]:
#The dataset shows the Amazon sales repost in India. ship-country contains India (IN) only so we can drop it
new_data=new_data.drop(columns=["ship-country"])

In [55]:
new_data["currency"].unique()

array(['INR', nan], dtype=object)

In [56]:
#We can also drop the currecny because it's about the Indian currency only
new_data=new_data.drop(columns=["currency"])

In [59]:
#dealing with missing values
new_data['Courier Status'] = new_data['Courier Status'].fillna('unknown')

In [60]:
new_data.isnull().sum()

index                    0
Order ID                 0
Date                     0
Status                   0
Fulfilment               0
Sales Channel            0
ship-service-level       0
Style                    0
SKU                      0
Category                 0
Size                     0
ASIN                     0
Courier Status           0
Qty                      0
Amount                7795
ship-city               33
ship-state              33
ship-postal-code        33
B2B                      0
dtype: int64

In [61]:
new_data=new_data.dropna(subset=["ship-city","ship-state"])

In [62]:
new_data.isnull().sum()

index                    0
Order ID                 0
Date                     0
Status                   0
Fulfilment               0
Sales Channel            0
ship-service-level       0
Style                    0
SKU                      0
Category                 0
Size                     0
ASIN                     0
Courier Status           0
Qty                      0
Amount                7793
ship-city                0
ship-state               0
ship-postal-code         0
B2B                      0
dtype: int64

In [63]:
new_data["Status"].unique()

array(['Cancelled', 'Shipped - Delivered to Buyer', 'Shipped',
       'Shipped - Returned to Seller', 'Shipped - Rejected by Buyer',
       'Shipped - Lost in Transit', 'Shipped - Out for Delivery',
       'Shipped - Returning to Seller', 'Shipped - Picked Up', 'Pending',
       'Pending - Waiting for Pick Up', 'Shipped - Damaged', 'Shipping'],
      dtype=object)

In [64]:
#inspect the relationship between the status and and the amount columns
print(new_data.loc[new_data["Status"]=='Cancelled',["Status","Amount"]])

           Status  Amount
0       Cancelled  647.62
3       Cancelled  753.33
8       Cancelled     NaN
23      Cancelled  570.48
29      Cancelled     NaN
...           ...     ...
128961  Cancelled  771.00
128962  Cancelled  665.00
128965  Cancelled  574.00
128967  Cancelled     NaN
128969  Cancelled  612.00

[18325 rows x 2 columns]

In [28]:
#filling Amount missing values with the mean value to not affect the overall data measurements
Mean=new_data["Amount"].mean()
Mean

np.float64(649.7808491932147)

In [65]:
new_data["Amount"]=new_data["Amount"].fillna(Mean)

In [66]:
new_data["Amount"].mean()

np.float64(648.6462863749804)

In [67]:
new_data.isnull().sum()

index                 0
Order ID              0
Date                  0
Status                0
Fulfilment            0
Sales Channel         0
ship-service-level    0
Style                 0
SKU                   0
Category              0
Size                  0
ASIN                  0
Courier Status        0
Qty                   0
Amount                0
ship-city             0
ship-state            0
ship-postal-code      0
B2B                   0
dtype: int64

In [68]:
new_data.shape

(128942, 19)

In [20]:
#We have filled the Amount missing values with keeping the same mean value

standardize Status column

In [70]:
def normalize_status(status):
    if status.startswith("Cancelled"):
        return "Cancelled"
    if status.startswith("Pending"):
        return "Pending"
    if "Delivered" in status:
        return "Delivered"
    if any(x in status for x in ["Returned", "Rejected", "Damaged", "Lost"]):
        return "Failed"
    if status.startswith("Shipped") or status == "Shipping":
        return "In Transit"
    return "Other"

new_data["Status Clean"] = new_data["Status"].apply(normalize_status)

print(new_data["Status Clean"].value_counts().sum())

128942

standardize column names

In [ ]:
new_data.columns = new_data.columns.str.strip().str.replace("-", " ", regex=False).str.lower()

print(new_data.columns)

In [76]:
new_data.columns = new_data.columns.str.strip().str.replace(" ", "_", regex=False).str.lower()

print(new_data.columns)

Index(['index', 'order_id', 'date', 'status', 'fulfilment', 'sales_channel',
       'ship_service_level', 'style', 'sku', 'category', 'size', 'asin',
       'courier_status', 'qty', 'amount', 'ship_city', 'ship_state',
       'ship_postal_code', 'b2b', 'status_clean'],
      dtype='object')

In [77]:
new_data.head()

,index,order_id,date,status,fulfilment,sales_channel,ship_service_level,style,sku,category,size,asin,courier_status,qty,amount,ship_city,ship_state,ship_postal_code,b2b,status_clean
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,unknown,0,647.62,MUMBAI,MAHARASHTRA,400081.0,False,Cancelled
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,Shipped,1,406.00,BENGALURU,KARNATAKA,560085.0,False,Delivered
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,Shipped,1,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,True,In Transit
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,unknown,0,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,False,Cancelled
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,Shipped,1,574.00,CHENNAI,TAMIL NADU,600073.0,False,In Transit

In [78]:
new_data.reset_index(drop=True,inplace=True)

In [79]:
new_data.head()

,index,order_id,date,status,fulfilment,sales_channel,ship_service_level,style,sku,category,size,asin,courier_status,qty,amount,ship_city,ship_state,ship_postal_code,b2b,status_clean
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,unknown,0,647.62,MUMBAI,MAHARASHTRA,400081.0,False,Cancelled
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,Shipped,1,406.00,BENGALURU,KARNATAKA,560085.0,False,Delivered
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,Shipped,1,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,True,In Transit
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,unknown,0,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,False,Cancelled
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,Shipped,1,574.00,CHENNAI,TAMIL NADU,600073.0,False,In Transit

In [80]:
new_data.drop(columns=["index"],inplace=True)

In [81]:
new_data.head()

,order_id,date,status,fulfilment,sales_channel,ship_service_level,style,sku,category,size,asin,courier_status,qty,amount,ship_city,ship_state,ship_postal_code,b2b,status_clean
0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,unknown,0,647.62,MUMBAI,MAHARASHTRA,400081.0,False,Cancelled
1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,Shipped,1,406.00,BENGALURU,KARNATAKA,560085.0,False,Delivered
2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,Shipped,1,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,True,In Transit
3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,unknown,0,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,False,Cancelled
4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,Shipped,1,574.00,CHENNAI,TAMIL NADU,600073.0,False,In Transit

In [82]:
#Saving our dataset
data=new_data.copy()
data.to_csv(r"C:\Users\zmitr\Desktop\Amazon-Sales-Analytics-for-Product-Profitability-Optimization\data\Amazon_Data_cleaned.csv",index=False)